<html>

<head>
    <title>Student Application1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js\"></script>
    <script src='/static/app.js'></script>
    <!--<link rel="stylesheet" href="/static/styles.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="container" ng-controller='MainController'>
    <div><input type='text' placeholder="Name" ng-model='name' label='Name' /></div><br/>
    <div><input type='text' placeholder="ID" ng-model='Id' label='ID' /></div><br/>
    <div><input type='text' placeholder="DOB" ng-model='dob' label='DOB' /></div><br/>
    <button ng-click='addStudent(Id,name,dob)'>Add</button>
</body>

</html>