<html>

<head>
    <title>Student Application1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js\"></script>
    <!--<link rel="stylesheet" href="/static/styles.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body ng-controller='MainController'>
    <div><input type='text' placeholder="Name" ng-model='student.name' label='Name' /></div><br/>
    <div><input type='text' placeholder="ID" ng-model='student.id' label='ID' /></div><br/>
    <div><input type='text' placeholder="DOB" ng-model='student.dob' label='DOB' /></div><br/>
    <button ng-click='submit()' ui-sref="home">Save</button>
</body>

</html>